.button {
	$self: &;
	@extend %reset-button;
	position: relative;
	font-family: 'PLB', sans-serif;
	font-size: 14px;
	line-height: 90%;
	letter-spacing: -0.02em;
	padding: 20px;
	border-radius: 24px;
	border: none;
	min-width: 175px;
	color: #fff;
	text-align: center;
	transition: background-color 0.3s;
	backdrop-filter: blur(50px);
	text-transform: uppercase;
	
	&_light {
		background-color: rgba(243, 243, 243, 0.1);
		color: #fff;
		
		&:hover {
			background-color: rgba(255, 136, 0, 0.8);
		}
	}
	
	&_grey {
		background-color: #E0E0E0;
		color: #181818;
		
		&:hover {
			background-color: rgba(255, 136, 0, 0.8);
		}
	}
	
	&_orange {
		background-color: rgba(255, 136, 0, 0.8);
		
		&:hover {
			background-color: #ffb82e;
		}

		&:disabled {
			background-color: #999;
		}
	}

	&_dark {
		background-color: rgba(0, 0, 0, 0.9);
		
		&:hover {
			background-color: rgba(80, 80, 80, 0.9);
		}
	}
}