<div class="page__steps step">
	<div class="page__step step__item"><p><strong>Делается гибкая удобная структура,</strong> которую дальше легко менять и развивать</p></div>
	<div class="page__step step__item"><p><strong>Использование правильной подстановки сотовых номеров на 30%</strong> увеличивает уровень дозвона по сравнению с городскими!</p></div>
	<div class="page__step step__item"><p><strong>Все данные собираются в CRM и Google-таблицы,</strong> тем саммым можно легко получить аналитику и быстро управлять результатами</p></div>
	<div class="page__step step__item"><p><strong>99,6% понимание ботами того,</strong> что скажут ваши клиенты после месяца поддержки</p></div>
</div>