<footer class="footer">
	<div class="footer__container container">
		<h2 class="footer__title">У вас остались вопросы?</h2>
		<p class="footer__suggest">отправте заявку, наш медержер свяжется с вами и расскажет все о наших ботах!</p>
		<div class="footer__ask">
			<img class="footer__ask-arrow" id="arr-right" src="./images/ic-to-right.svg" alt="">
			<a class="footer__ask-button" href="./">Задать нам <br> вопрос</a>
			<img class="footer__ask-arrow" id="arr-left" src="./images/ic-to-left.svg" alt="">
		</div>
		<div class="footer__line">@@include("_line.html")</div>
		<div class="footer__contacts">
			<div class="footer__socials">
				<a class="footer__social social social_wapp" href="./"></a>
				<a class="footer__social social social_tgm" href="./"></a>
				<a class="footer__phone" href="tel:+79800000000">+7 (980)-000-00-00</a>
			</div>
			<a class="footer__mail button button_light" href="mailto:zabotasupport@yandex.ru"><span>zabotasupport@yandex.ru</span></a>
			<a class="footer__call button button_light" href="./"><span>Заказать звонок</span></a>
		</div>
		<div class="footer__bottom">
			<a class="footer__politics" href="./">Политика <br> конфиденциальности</a>
			<a class="footer__up" href="./">Наверх</a>
			<div class="footer__agency">
				<span>Разработка и продвижение с любовью,</span>
				<a href="http://business-up.org">business-up.org</a>
			</div>
		</div>
	</div>
</footer>