<header class="header"> 
	<div class="header__container container">
		<a class="header__logo" href="./"><img src="images/logo.svg" alt="img"></a>
		<div class="header__side">
			<div class="header__socials">
				<a class="header__socials-item social social_wapp" href="./"></a>
				<a class="header__socials-item social social_tgm" href="./"></a>
				<a class="header__socials-item social social_phone" href="./"></a>
			</div>
			<a class="header__phone" href="tel:+79800000000">+7 (980)-000-00-00</a>
			<button class="header__button button button_light" data-modal="call-order">Заказать звонок</button>
		</div>
	</div>
</header>