<div class="modal__hidden">
	<div id="call-order">
		<div class="page__resume resume">
			<h2 class="resume__title title">Оставьте свой контакт!</h2>
			<div class="resume__text">Мы свяжемся с Вами, обсудим детали вашей задачи и расскажем обо всех интересующих вас вопросах</div>
			<div class="resume__form">
				<input class="resume__input" type="text" placeholder="ВАШЕ ИМЯ">
				<input class="resume__input" type="tel" placeholder="ТЕЛЕФОН">
				<button class="resume__field resume__field_double button button_orange" type="submit" data-modal="order-complete">Отправить</button>
				<label class="resume__agree">
					<input type="checkbox" checked>
					<p>*Вы соглашаетесь с условиями обработки <a href="./">персональных данных</a></p>
				</label>
			</div>
		</div>
	</div>
	<div id="order-complete">
		<div class="complete">
			<h2 class="complete__title">Мы мигом!</h2>
			<div class="complete__text">Скоро мы перезвоним Вам <br> и расскажем обо всех интересующих вас вопросах</div>
			<div class="complete__note">Вы также можете написать нам в мессенджеры, если хотите рассказать больше подробностей вашей о задаче</div>
			<div class="complete__socials">
				<a class="complete__social complete__social_wapp" href="./"></a>
				<a class="complete__social complete__social_tgm" href="./"></a>
			</div>
		</div>
	</div>
</div>