.title {
	$self: &;
	color: #fff;
	font-size: 40px;
	font-family: "PLB", sans-serif;
	text-transform: uppercase;
	line-height: 0.9;
	
	@include media('<=lg') {
		font-size: 32px;
	}
	
	@include media('<=xxs') {
		font-size: 28px;
	}
	
	@include media('<=xxxs') {
		font-size: 26px;
	}
}
