.preloader {
	$self: &;
	pointer-events: none;
	user-select: none;
	overflow: hidden;
	position: fixed;
	z-index: 2000;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	height: calc(var(--vh, 1vh) * 100);
	background: url('#{$images-path}body-noise.png') center / auto repeat, #131313;

	@keyframes animateHeart {
		0% { transform: scale(0.8); }
		5% { transform: scale(0.9); }
		10% { transform: scale(0.8); }
		15% { transform: scale(1); }
		50% { transform: scale(0.8); }
		100% { transform: scale(0.8); }
	}

	&::before {
		display: block;
		content: 'Загрузка';
		text-align: center;
		width: 80px;
		height: 40px;
		color: #fff;
		background: url('#{$images-path}loader.svg') center bottom / auto no-repeat;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
	
	&::after {
		display: block;
		content: '';		
		width: 320px;
		height: 360px;
		background: url('#{$images-path}loader-heart.png') center / contain no-repeat transparent;
		position: absolute;
		right: 0;
		bottom: 20px;
		animation: animateHeart 1.5s linear infinite;
		
		@include media('<=lg') {
			width: 260px;
			height: 300px;
		}
		
		@include media('<=sm') {
			width: 220px;
			height: 250px;
		}
		
		@include media('<=xs') {
			width: 160px;
			height: 180px;
		}
		
		@include media('<=xxs') {
			width: 130px;
			height: 150px;
		}
	}

	&__counter {
		display: block;
		box-sizing: border-box;
		padding: 25px 0 0 15px;
		position: absolute;
		top: 0;
		left: 0;
		color: #fff;
		font-family: "MK", sans-serif;
		font-size: calc(4vw + 30px);
		color: #fff;

		&::after {
			content: '%';
		}
	}
}
