.footer {
	$self: &;
	padding-top: 60px;
	position: relative;
	background: url('#{$images-path}fooger-bg-bot.jpg') center top / cover no-repeat transparent;

	&::before {
		display: block;
		content: '';
		position: absolute;
		z-index: 1;
		width: 100%;
		height: 100%;
		background: url('#{$images-path}body-noise.gif') center / auto repeat transparent;
		opacity: 4%;
		top: 0;
	}

	&__container {
		position: relative;
		z-index: 2;
	}

	&__title {
		font-family: "PLB", sans-serif;
		background: -o-linear-gradient(341.62deg, #fff 31.98%, rgba(255,255,255,0.57) 103.55%);
		background: linear-gradient(108.38deg, #fff 31.98%, rgba(255,255,255,0.57) 103.55%);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-clip: text;
		text-fill-color: transparent;
		text-transform: uppercase;
		text-align: center;
		font-size: calc(40px + 50 * (100vw / 1920));
		margin-bottom: 10px;

		@include media('<=xxs') {
			font-size: 40px;
		}
	}
	
	&__suggest {
		color: #fff;
		max-width: 490px;
		margin: 0 auto 50px;
		font-size: 20px;
		text-align: center;

		@include media('<=xxs') {
			font-size: 16px;
		}
	}

	&__ask {
		display: flex;
		justify-content: center;
		align-items: center;
		overflow: hidden;
		padding-bottom: 50px;
	}

	&__line {
		overflow: hidden;
		display: flex;
		align-items: center;
		justify-content: center;
		margin-bottom: 40px;

		svg rect {
			transition: 1.5s;
		}
	}

	&__ask-arrow {
		transition: transform 0.3s;

		&#arr-right {
			transform: translateX(-500px);
		}
		
		&#arr-left {
			transform: translateX(500px);
		}

		@include media('<=md') {
			display: none;
		}
	}

	&__ask-button {
		display: block;
		font-family: "PLB", sans-serif;
		font-size: 18px;
		width: 310px;
		height: 310px;
		box-shadow: 5px 13px 43px rgba(255, 119, 76, 0.3);
		background-color: #e97629;
		border-radius: 50%;
		color: #fff;
		display: flex;
		flex-flow: column nowrap;
		align-items: center;
		justify-content: center;
		text-transform: uppercase;
		text-align: center;
		flex-shrink: 0;
		margin: 0 30px;
		transition: background-color 0.3s;
		
		&::before {
			display: block;
			content: '';
			width: 35px;
			height: 35px;
			background: url('#{$images-path}icons-sprite.svg#icon-plus-view-white') center / contain no-repeat transparent;
			margin-bottom: 8px;
		}

		&:hover {
			background-color: #ffb82e;
		}
		
		@include media('<=lg') {
			width: 220px;
			height: 220px;
			
			&::before {
				width: 30px;
				height: 30px;
			}
		}
	}

	&__contacts {
		border: 1px solid #4B4B4B;
		border-right: none;
		border-left: none;
		display: flex;
		align-items: center;
		padding: 32px 0;
		justify-content: space-between;

		@include media('<=md') {
			flex-flow: column nowrap;
		}
	}
	
	&__socials {
		display: flex;
		align-items: center;
		
		@include media('<=md') {
			margin: 0 0 20px;
		}
	}

	&__social {
		margin-right: 4px;
	}
	
	&__phone {
		margin-left: 16px;
		
		@include media('<=md') {
			margin: 0;
		}
	}
	
	&__mail {
		margin-right: 30px;

		&.button {
			padding: 17px;
			border-radius: 16px;
		}
		
		@include media('<=md') {
			margin: 0 0 20px;
		}
	}

	&__call {

		&.button {
			padding: 17px;
			border-radius: 16px;
		}
	}

	&__bottom {
		display: flex;
		align-items: center;
		justify-content: space-between;
		color: #777;
		padding: 45px 0 30px;
		
		@include media('<=md') {
			flex-flow: column nowrap;
		}
	}

	&__politics {
		color: inherit;
		text-decoration: underline;
		
		@include media('<=md') {
			text-align: center;
			margin: 0 0 20px;
		}
	}
	
	&__up {
		color: inherit;
		transform: translateX(70px);
		text-align: center;
		
		&::before {
			display: block;
			content: '';
			width: 16px;
			height: 13px;
			background: url('#{$images-path}icons-sprite.svg#icon-up-small-view-dark') center / contain no-repeat transparent;
			margin: 0 auto 6px;
		}
		
		@include media('<=md') {
			transform: none;
			margin-bottom: 20px;
			order: -1;
		}
	}

	&__agency {
		text-align: right;
		
		@include media('<=md') {
			text-align: center;
		}
		
		span {
			display: block;
		}
		
		a {
			display: flex;
			color: inherit;
			text-decoration: underline;
			align-items: center;
			justify-content: flex-end;
			height: 40px;

			&::before {
				display: block;
				content: '';
				width: 30px;
				height: 30px;
				background: url('#{$images-path}agency-logo.svg') center / auto no-repeat transparent;
				margin-right: 10px;
			}
		
			@include media('<=md') {
				justify-content: center;
			}
		}
	}
}
