.connect {
	$self: &;
	flex-grow: 1;
	display: flex;
	align-items: center;
	justify-content: center;

	&__content {
		text-align: center;
		font-size: 20px;
		color: #fff;
		
		img {
			display: inline-block;
			margin-bottom: 10px;
		}
	}
}
