.resume {
	$self: &;
	box-sizing: border-box;
	background-color: #191919;
	border-radius: 16px;
	padding: 45px 30px 55px;
	
	@include media('<=xxxs') {
		padding: 30px 20px;
	}

	&::before {
		display: block;
		content: '';
		height: 33px;
		width: 40px;
		background: url('#{$images-path}icons-sprite.svg#icon-down-view-orange') center / contain no-repeat transparent;
		margin: 0 auto 40px;
	}

	&__title {
		text-align: center;
		max-width: 550px;
		margin: 0 auto 20px;
	}
	
	&__text {
		text-align: center;
		max-width: 650px;
		font-size: 20px;
		margin: 0 auto 20px;
		color: #fff;
	}

	&__form {
		padding-top: 20px;
		width: 100%;
		max-width: 550px;
		margin: 0 auto;
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-gap: 16px;
		grid-auto-rows: 55px;
		
		@include media('<=xs') {
			grid-template-columns: 1fr;
		}
	}

	&__field {
		grid-column: span 1;
		
		&_double {
			grid-column: span 2;
		}
		
		@include media('<=xs') {
			grid-column: span 1 !important;
		}
	}

	&__input {
		@extend %reset-input;
		background-color: #3A3A3A;
		border-radius: 24px;
		padding: 10px 20px;
		color: #fff;
		
		&::placeholder {
			font-size: 14px;
			font-family: "PLB", sans-serif;
			color: #fff;
			text-align: center;
			transition: opacity 0.2s;
		}
		
		&:focus::placeholder {
			opacity: 0;
		}
		
		&[type='tel'] {
			text-align: center;
		}
	}

	&__agree {
		grid-column: span 2;
		font-size: 14px;
		color: #777;
		text-align: center;
		
		input[type='checkbox'] {
			@extend %reset-input;
			background-color: #999;
			display: inline-flex;
			vertical-align: middle;
			justify-content: center;
			align-items: center;
			border-radius: 3px;
			margin-right: 5px;
			cursor: pointer;
			width: 18px;
			height: 18px;
			
			&:checked {
				background-color: #4f4f4f;

				&::before {
					display: block;
					content: '';
					width: 12px;
					height: 12px;
					background: url('#{$images-path}icons-sprite.svg#icon-check-view-white') center / 12px 9px no-repeat transparent;
				}
			}
		}
		
		p {
			display: inline-block;
			margin: 0;
		}
		
		a {
			color: #999;
			text-decoration: underline;
		}
	}
}
