.rate {
	$self: &;
	margin-bottom: 32px;
	@keyframes block_show {
		from { opacity: 0; }
		to { opacity: 1; }
	}
	%sides {
		@include media('>md') {
			&::before {
				display: block;
				content: '';
				width: 3px;
				height: 100%;
				transition: background-color 0.2s;
				position: absolute;
				left: -1px;
				top: 0;
				
			}
			
			&::after {
				display: block;
				content: '';
				width: 3px;
				height: 100%;
				transition: background-color 0.2s;
				position: absolute;
				right: -1px;
				top: 0;
			}
		}
	}

	&__title {
		font-family: "PLB", sans-serif;
		font-size: 24px;
		text-transform: uppercase;
		margin-bottom: 16px;
	}

	&__table {
		border-collapse: collapse;
		overflow: hidden;
		width: 100%;
		border-radius: 8px 8px 16px 16px;
	
		thead {

			@include media('<=md') {
				display: none;
			}
				
			tr {
				background-color: #4f4f4f;
				color: #fff;
				box-sizing: border-box;
				text-align: center;
				font-size: 16px;
				padding: 14px;
				height: 64px;
				transition: background-color 0.3s;
			}
			
			th {
				box-sizing: border-box;
				text-align: center;
				font-size: 16px;
				padding: 14px;
				height: 64px;
				transition: background-color 0.3s;
				
				&:first-child { text-align: left; }
				&.active { background-color: #FE9E34; }
			}
		}
		
		tbody {

			tr {
				background-color: #fff;

				@include media('<=md') {
					display: block;
					margin-bottom: 20px;
				}
	
				&:last-child td {
					border-bottom: none;

					&.active { border-bottom: 3px solid #fe9e34; }
				}
			}

			td {
				padding: 10px 15px;
				box-sizing: border-box;
				border: 1px solid #e0e0e0;
				vertical-align: middle;
				position: relative;
				font-size: 14px;
				height: 56px;
		
				@include media('<=md') {
					display: block;
					height: auto;
					min-height: 80px;
					margin-bottom: -1px;
					display: flex;
					align-items: center;
					flex-flow: column nowrap;
					justify-content: center;
	
					&[data-title]::after {
						display: block;
						content: attr(data-title);
						position: absolute;
						top: 0;
						right: 0;
						font-size: 13px;
						padding: 3px 10px;
						font-family: "PLB", sans-serif;
						background-color: rgba(0, 0, 0, 0.15);
						color: #444;
					}
				}

				&:first-child {
					border-left: none;
				}

				&:last-child {
					border-right: none;
				}
			
				&:nth-last-child(-n+4) {
					text-align: center;
					min-width: 190px;
					font-size: 16px;
					@extend %sides;
					
					@include media('<=xlg') {
						min-width: 160px;
					}
					
					@include media('<=lg') {
						min-width: auto;
					}
				
					&.active {
						@include media('<=md') {
							border: 2px solid #fe9e34;
							z-index: 1;
						}
						
						&:last-child::after { right: 0; }
						&::after, &::before { background-color: #fe9e34; }
					}
				}
		
				&#{$self}__green {
					background-color: rgba(52, 255, 0, 0.08);
				}
			}

			#{$self}__toggle {
				td {
					padding-bottom: 32px;
					padding-top: 32px;
					border-bottom: none;
				}
				
				& ~ tr {
					display: none;
					animation: block_show 0.3s;
		
					td:first-child {
						@include media('<=md') {
							font-family: "PLB", sans-serif;
							text-transform: uppercase;
						}
					}
					
					&:nth-child(odd) {
						background-color: #F7F7F7;
						
						@include media('<=md') {
							background-color: #fff;
						}
					}
		
					&.showed {
						display: table-row;
			
						@include media('<=md') {
							display: block;
						}
					}
				}
			}
	
			h3, h4 {
				font-family: "PLB", sans-serif;
				font-size: 18px;
				text-transform: uppercase;

				@include media('<=md') {
					br { display: none; }
				}
			}
			
			h4 { font-size: 14px; }
		}	
	}

	&__cost-title {
		display: flex;
		align-items: center;

		@include media('<=md') {
			flex-flow: column nowrap;
		}

		h3 {
			max-width: 170px;
			margin-right: 10px;
			
			@include media('<=md') {
				margin: 0 0 10px;
				max-width: none;
			}
		}
		
		span {
			max-width: 170px;
			position: relative;
			padding-left: 15px;
			
			@include media('<=md') {
				max-width: none;
			}

			&::before {
				display: block;
				content: '*';
				color: #FE9E34;
				position: absolute;
				top: 0;
				left: 0;
				font-size: 20px;
				line-height: 0.9;
			}
		}
	}

	&__cost {

		button {
			@extend %reset-button;
			color: #fff;
			font-size: 11px;
			background-color: #333;
			font-family: "PLB", sans-serif;
			text-transform: uppercase;
			border-radius: 8px;
			max-width: 145px;
			padding: 9px;
			width: 100%;
			margin-top: 6px;
		}

		strong {
			display: block;
		}
	}

	&__toggle {
		cursor: pointer;

		h3 {
			text-align: left;
			display: flex;
			align-items: center;
			
			&::after {
				display: block;
				content: '';
				width: 40px;
				height: 40px;
				margin-left: 16px;
				border-radius: 50%;
				background: url('#{$images-path}icons-sprite.svg#icon-up-small-view-white') center / 12px 9px no-repeat #FE9E34;
				transition: background-color 0.2s;
			}
		}
		
		
		&.showed h3::after {
			background: url('#{$images-path}icons-sprite.svg#icon-down-view-dark') center calc(50% + 2px) / 12px 9px no-repeat #f2f2f2;
		}
	}

	&__hint {
		position: relative;
		display: inline-block;
		vertical-align: middle;
		margin: 0 0 2px 4px;
		width: 16px;
		height: 16px;
		border-radius: 50%;
		background: url('#{$images-path}icons-sprite.svg#icon-question-view-dark') center / 6px 10px no-repeat #E0E0E0;
		transition: background-color 0.2s;
		
		@include media('<=md') {
			margin: 8px 0 0;
		}
		
		&:hover {
			background-image: url('#{$images-path}icons-sprite.svg#icon-question-view-white');
			background-color: #FE9E34;
			
			& > #{$self}__hint-content {
				display: block;
			}
		}
	}

	&__hint-content {
		display: none;
		box-sizing: border-box;
		position: absolute;
		top: 50%;
		left: 15px;
		z-index: 2;
		background-color: #fff;
		width: calc(100vw - 120px);
		max-width: 340px;
		padding: 24px 32px 14px;
		border-radius: 8px;
		box-shadow: 0px 2px 40px rgba(0, 0, 0, 0.25);
		transform: translateY(-70%);
		animation: block_show 0.2s;
		
		@include media('<=md') {
			left: 50%;
			transform: translate(-50%, -50%);
		}
		
		@include media('<=xxs') {
			padding: 15px 20px 5px;
		}
	}

	&__tariff-gift {
		
	}

	&__tariff-min {

	}

	&__tariff-max {

	}

	&__tariff-pro {

	}

	&__hidden {
		display: none;
		
		@include media('<=md') {
			display: block;
		}
	}
}