.cursor {
	$self: &;
	display: block;
	width: 120px;
	height: 120px;
	position: fixed;
	background-color: rgba(110, 110, 110, 0.2);
	backdrop-filter: blur(20px);
	top: 55px;
	left: -55px;
	border-radius: 50%;
	pointer-events: none;
	z-index: 10;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: transform 0.2s;
	opacity: 0;
	@keyframes fade_in {
		from { opacity: 0; }
		to { opacity: 1; }
	}
	
	@include media('<=sm') {
		display: none;
	}
	
	&:before {
		position: absolute;
		content: '';
		width: 55px;
		height: 51px;
		background-image: url('#{$images-path}cursor-bg.png');
		background-repeat: no-repeat;
		background-size: contain;
		margin-top: 23px;
	}
	
	&_showed {
		animation-delay: 0.3s;
		animation-name: fade_in;
		animation-duration: 1.0s;
		animation-fill-mode: forwards;
	}
}
