.why {
	$self: &;
	background-color: #fff;
	border-radius: 24px;
	position: relative;
	z-index: 2;
	margin-top: -16px;

	&__container {
		padding-top: 95px;
		padding-bottom: 95px;
		display: grid;
		grid-template-columns: repeat(12, 1fr);
		grid-template-rows: 320px 420px;
		grid-gap: 16px;
		
		@include media('<=md') {
			grid-template-rows: 320px 320px;
		}
	
		@include media('<=sm') {
			display: block;
			padding-top: 65px;
			padding-bottom: 65px;
		}
	}

	&__title {
		font-family: "PLB", sans-serif;
		font-size: calc(40px + 50 * (100vw / 1920));
		line-height: 90%;
		letter-spacing: -0.02em;
		text-transform: uppercase;
		color: #181818;
		margin-right: auto;
		padding-bottom: 30px;
		grid-area: 1 / 1 / span 1 / span 4;

		@include media('<=lg') {
			font-size: 50px;
		}
		
		@include media('<=xs') {
			font-size: 40px;
		}
	}

	&__card {
		box-sizing: border-box;
		padding: 40px;
		background: #fff;
		border: 1px solid #E0E0E0;
		border-radius: 16px;
		display: flex;
		flex-flow: column nowrap;
		width: 100%;
		
		@include media('<=lg') {
			padding: 25px;
		}
			
		@include media('<=sm') {
			height: 260px;
			margin-bottom: 16px;
		}

		&_1 {
			grid-area: 1 / 6 / span 1 / span 4;
			
			@include media('<=lg') {
				grid-area: 1 / 5 / span 1 / span 4;
			}
			
			@include media('<=md') {
				grid-area: 1 / 6 / span 1 / span 4;
			}
			
			#{$self}__card-text::before {
				background-image: url('#{$images-path}icons-sprite.svg#icon-grow-view-dark');
			}
		}
		
		&_2 {
			grid-area: 1 / 10 / span 1 / span 3;
			
			@include media('<=lg') {
				grid-area: 1 / 9 / span 1 / span 4;
			}
			
			@include media('<=md') {
				grid-area: 1 / 10 / span 1 / span 3;
			}
			
			#{$self}__card-text::before {
				background-image: url('#{$images-path}icons-sprite.svg#icon-bots-view-dark');
				width: 49px;
			}
		}
		
		&_3 {
			grid-area: 2 / 3 / span 1 / span 3;
			
			@include media('<=xlg') {
				grid-area: 2 / 1 / span 1 / span 4;
			}
			
			#{$self}__card-text::before {
				background-image: url('#{$images-path}icons-sprite.svg#icon-smile-view-dark');
			}
		}
		
		&_4 {
			grid-area: 2 / 6 / span 1 / span 4;
			
			@include media('<=xlg') {
				grid-area: 2 / 5 / span 1 / span 5;
			}
			
			@include media('<=lg') {
				grid-area: 2 / 5 / span 1 / span 4;
			}

			#{$self}__card-text::before {
				background-image: url('#{$images-path}icons-sprite.svg#icon-glob-view-dark');
			}
		}
	}

	&__card-num {
		padding-top: 5px;
		padding-bottom: 5px;
		font-family: 'MK', sans-serif;
		font-size: calc(40px + 12 * (100vw / 1920));
		font-weight: 400;
		line-height: 90%;
		letter-spacing: -0.02em;
		color: #F17921;

		@include media('<=lg') {
			font-size: 30px;
		}
		
		@include media('<=md') {
			font-size: 26px;
		}
		
		@include media('<=sm') {
			font-size: 32px;
		}
	}

	&__card-text {
		margin: auto 0 0;
		font-weight: 400;
		font-size: 20px;
		line-height: 110%;
		letter-spacing: 0.01em;
		color: #181818;

		&::before {
			display: block;
			content: '';
			width: 40px;
			height: 40px;
			margin-bottom: 10px;
			background-position: center;
			background-size: contain;
			background-repeat: no-repeat;
			background-color: transparent;
			opacity: 0.3;
		}
	}

	&__img {
		position: relative;
		border-radius: 16px;
		overflow: hidden;
		grid-area: 2 / 10 / span 1 / span 3;
		
		@include media('<=lg') {
			grid-area: 2 / 9 / span 1 / span 4;
		}

		@include media('<=sm') {
			height: 320px;
		}

		&::before {
			position: absolute;
			display: block;
			content: '';
			width: 16px;
			height: 16px;
			background-color: #FE9E34;
			top: 32px;
			left: 32px;
		}

		&::after {
			position: absolute;
			display: block;
			content: '';
			width: 54px;
			height: 147px;
			background: url('#{$images-path}icons-sprite.svg#icon-up-view-orange') center / auto no-repeat transparent;
			bottom: 36px;
			right: 24px;
		}

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;

			@include media('<=sm') {
				object-position: 50% 15%;
			}
		}
	}
}
